.boxStyle{
    display: flex;
    width:100px;
    height: 100px;
    background-color: rgba(87, 87, 87, 0.541);
    border-width: 1px;
    border-style: solid;
    border-color: BLACK;
    transition: background-color 0.3s ease;
}

.boxStyle:hover{
    transform: scale(1.2); 

}

.boxLit{
    background-color: rgba(251, 255, 0, 0.5);
}