 h2{
   color: white;
 }

 .gridCSS{
     display: flex;
     margin: 0 auto;
     box-shadow: 0 0 30px #fff, -10px 0 30px rgb(107, 255, 22), 10px 0 20px rgba(31, 167, 177, 0.829);
     width: fit-content;
    }

 :root {
    --clr-one: rgb(255, 20, 147);
    --clr-two: rgb(127, 255, 0);
    --clr-three: rgb(138, 43, 226);
    --clr-four: rgb(214, 226, 43);
    --clr-bg: #1d1e22;
  }
  
  *,
  *::before,
  *::after {
    box-sizing: border-box;
    margin: 0;
  }
  
  body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: var(--clr-bg);
    font-family: "Balsamiq Sans", cursive;
    overflow: hidden;
  }
  
  h1 {
    color: white;
  }
  
  p {
    margin-top: 1em;
    color: white;
  }
  
  .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .neon-button {
    font-size: 1rem;
  
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    padding: 0.5em 1em;
    margin: 2rem;
    border-radius: 0.25em;
    position: relative;
  }
  
  .neon-button__1 {
    color: var(--clr-one);
    border: var(--clr-one) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em --clr-one;
    box-shadow: inset 0 0 0.5em 0 var(--clr-one), 0 0 0.5em 0 var(--clr-one);
  }
  
  .neon-button__2 {
    color: var(--clr-two);
    border: var(--clr-two) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em --clr-two;
    box-shadow: inset 0 0 0.5em 0 var(--clr-two), 0 0 0.5em 0 var(--clr-two);
  }
  
  .neon-button__3 {
    color: var(--clr-three);
    border: var(--clr-three) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em --clr-three;
    box-shadow: inset 0 0 0.5em 0 var(--clr-three), 0 0 0.5em 0 var(--clr-three);
  }

  .neon-button__4 {
    color: var(--clr-four);
    border: var(--clr-four) 0.125em solid;
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em --clr-four;
    box-shadow: inset 0 0 0.5em 0 var(--clr-three), 0 0 0.5em 0 var(--clr-four);
  }
  
  .neon-button::before {
    content: "";
    position: absolute;
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
    filter: blur(1.5em);
    opacity: 0.7;
    pointer-events: none;
  }
  
  .neon-button.active::before {
    animation: scalingShadow 0.5s ease-in-out;
  }
  
  @keyframes scalingShadow {
    0% {
      top: 120%;
      transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
    }
    50% {
      top: 165%;
      transform: perspective(1.5em) rotateX(45deg) scale(0.75, 0.3);
    }
    100% {
      top: 120%;
      transform: perspective(1.5em) rotateX(45deg) scale(0.8, 0.3);
    }
  }
  
  .neon-button__1::before {
    background: var(--clr-one);
  }
  
  .neon-button__2::before {
    background: var(--clr-two);
  }
  
  .neon-button__3::before {
    background: var(--clr-three);
  }
  
  .neon-button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity: 0;
    z-index: -1;
    transition: opacity 100ms linear;
  }
  
  .neon-button__1::after {
    box-shadow: 0 0 2em 0.5em var(--clr-one);
    background-color: var(--clr-one);
  }
  
  .neon-button__2::after {
    box-shadow: 0 0 2em 0.5em var(--clr-two);
    background-color: var(--clr-two);
  }
  
  .neon-button__3::after {
    box-shadow: 0 0 2em 0.5em var(--clr-three);
    background-color: var(--clr-three);
  }
  
  .neon-button:hover::before,
  .neon-button:focus::before {
    opacity: 1;
  }
  
  .neon-button:hover::after,
  .neon-button:focus::after {
    opacity: 1;
  }
  
  .neon-button:hover,
  .neon-button:focus {
    outline: none;
    color: var(--clr-bg);
    text-shadow: none;
  }
  
  .active {
    animation: animate 0.5s ease-in-out;
  }
  
  @keyframes animate {
    0% {
      transform: translateY(0%);
    }
    50% {
      transform: translateY(-40%);
    }
    100% {
      transform: translateY(0%);
    }
  }
  
  @import url('https://fonts.googleapis.com/css?family=Londrina+Outline');
body {
    background: #000;
} 
.neon {
  font-family: 'londrina Outline', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 80px;
  color: #fff;
  letter-spacing: 2px;

}

.green {
  text-shadow:
    0 0 5px #36FF33,
    0 0 10px #36FF33,
    0 0 15px #36FF33,
    0 0 25px #36FF33,
    0 0 35px #36FF33,
    0 0 45px #36FF33,
    0 0 55px #36FF33,
    0 0 65px #36FF33;
    animation-name: green_lights;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

.blue {
  text-shadow: 
    0 0 5px #7bacff,
    0 0 10px #7bacff,
    0 0 15px #7bacff,
    0 0 25px #7bacff,
    0 0 35px #7bacff,
    0 0 45px #7bacff,
    0 0 55px #7bacff,
    0 0 65px #7bacff;
    animation: green_lights 1.5s infinite;
  
}

.pink {
  text-shadow:
    0 0 5px #F749F1,
    0 0 10px #F749F1,
    0 0 15px #F749F1,
    0 0 25px #F749F1,
    0 0 35px #F749F1,
    0 0 45px #F749F1,
    0 0 55px #F749F1,
    0 0 65px #F749F1;
    animation: pink_lights 2.3s infinite;
}

@keyframes green_lights {
  5% {text-shadow: 0 0 5px #36FF33;}
  10% {text-shadow: 0 0 10px #36FF33;}
  15% {text-shadow: 0 0 15px #36FF33;} 
  25% {text-shadow: 0 0 25px #36FF33;} 
  35% {text-shadow: 0 0 35px #36FF33;}  
}

@keyframes blue_lights {
  10% {text-shadow: 0 0 10px #7bacff;}
  15% {text-shadow: 0 0 15px #7bacff;}
  25% {text-shadow: 0 0 25px #7bacff;} 
  35% {text-shadow: 0 0 35px #7bacff;} 
  45% {text-shadow: 0 0 45px #7bacff;}  
}

@keyframes pink_lights {
  20% {text-shadow: 0 0 20px #F749F1;}
  35% {text-shadow: 0 0 35px #F749F1;}
  45% {text-shadow: 0 0 45px #F749F1;} 
  55% {text-shadow: 0 0 55px #F749F1;} 
  85% {text-shadow: 0 0 85px #F749F1;}  
}
